{% comment %}
  header,
  collection
{% endcomment %}
<link
  rel="stylesheet"
  href="{{ 'collectionSwiperHeader.css' | asset_url }}"
  media="print"
  onload="this.media='all'; this.onload=null;"
>
<div class="collection-swiper-header">
  <div class="collection-swiper-header__main">
    <button class="collection-swiper-header__prev swiper-button-prev" aria-label="Previous slide">
        <svg width="40" height="40" aria-hidden="false">
            <use xlink:href="#icon-arrow-left"></use>
        </svg>
    </button>
    <div class="collection-swiper-header__text">
        <h1 class="collection-swiper-header__h1">{{ header }}</h1>
        <h2 class="collection-swiper-header__h2">{{ collection.title }}</h2>
    </div>
    <button class="collection-swiper-header__next swiper-button-next" aria-label="Next slide">
        <svg width="40" height="40" aria-hidden="false">
            <use xlink:href="#icon-arrow-right"></use>
        </svg>
    </button>
  </div>
  <a href="{{ collection.url }}" class="collection-swiper-header__view-all">View All</a>
</div>
