body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-weight: 500;
}
body{
    overflow-x: hidden;
    overflow-y: auto;
}
button{
    background: none;
    border: none;
}
a{
    text-decoration: none;
}
input{
  background: none;
  border: none;
}
input:focus{
    outline: none;
}
.image--contain{
    object-fit: contain;
}
.image--cover{
    object-fit: cover;
}
.button--primary {
    width: fit-content;
    border-radius: 8px;
    height: 45px;
    padding: 14px 24px;
    color: #fff;
    background-color: #1B1F23; 
    font-size: 14px;
    font-weight: 500 ;
    cursor: pointer;
}
.button--secondary{
    width: fit-content;
    border-radius: 8px;
    height: 45px;
    padding: 14px 24px;
    color: #1B1F23 ;
    background-color:#fff ; 
    font-size: 14px;
    font-weight: 500 ;
    cursor: pointer; 
}
.button.loading {
    color: transparent;
    position: relative;
  }
  
  @media screen and (forced-colors: active) {
    .button.loading {
      color: rgb(var(--color-foreground));
    }
  }
  
.overflow-hidden{
    overflow: hidden;
}
.hidden {
    display: none !important;
  }
  .button.loading > .loading__spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .button.loading > .loading__spinner .spinner {
    width: fit-content;
  }
  
  .button.loading > .loading__spinner .path {
    stroke: #fff;
  }  