body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-weight: 500;
}
button{
    background: none;
    border: none;
}
a{
    text-decoration: none;
}
input:focus{
    outline: none;
}
.image--contain{
    object-fit: contain;
}
.image--covers{
    object-fit: cover;
}
.button--primary {
    width: fit-content;
    border-radius: 8px;
    height: 45px;
    padding: 14px 24px;
    color: #fff;
    background-color: #1B1F23; 
    font-size: 14px;
    font-weight: 500 ;
    cursor: pointer;
}
.button--secondary{
    width: fit-content;
    border-radius: 8px;
    height: 45px;
    padding: 14px 24px;
    color: #1B1F23 ;
    background-color:#fff ; 
    font-size: 14px;
    font-weight: 500 ;
    cursor: pointer; 
}